@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
	--primary-color: #a8dadc;
	--dark-color: #1d3557;
	--light-color: #f1faee;
	--secondary-color: #457b9d;
	--accent-color: #e63946;
}

html{
	box-sizing: border-box;
	font-size: 62.5%;
}

*,*::after,*::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 1.7rem;
	line-height: 1.6;
	background-color: var(--dark-color);
	color: #fff;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 4rem;
	overflow: auto;
}

/* Intro Section */
.intro{
	height: 90vh;
	justify-content: center;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.intro h1{
	font-size: 4rem;
	text-align: center;
	margin-bottom: 4rem;
}

.intro p{
	max-width: 600px;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 4rem;
}

/* Buttons */
.btn{
	min-width: 12rem;
	font-family: inherit;
	font-size: 1.8rem;
	display: inline-block;
	padding: 1rem 1.5rem;
	border: none;
	border-radius: .3rem;
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem;
	-ms-border-radius: .3rem;
	-o-border-radius: .3rem;
}
.btn-primary{
	background-color: var(--secondary-color);
	color: var(--light-color);
}