@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
	--primary-color: #a8dadc;
	--dark-color: #1d3557;
	--light-color: #f1faee;
	--secondary-color: #457b9d;
	--accent-color: #e63946;
}

html{
	box-sizing: border-box;
	font-size: 62.5%;
}

*,*::after,*::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 1.7rem;
	line-height: 1.6;
	background-color: var(--dark-color);
	color: #fff;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 4rem;
	overflow: auto;
}

/* Intro Section */
.intro{
	height: 90vh;
	justify-content: center;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.intro h1{
	font-size: 4rem;
	text-align: center;
	margin-bottom: 4rem;
}

.intro p{
	max-width: 600px;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 4rem;
}

/* Buttons */
.btn{
	min-width: 12rem;
	font-family: inherit;
	font-size: 1.8rem;
	display: inline-block;
	padding: 1rem 1.5rem;
	border: none;
	border-radius: .3rem;
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem;
	-ms-border-radius: .3rem;
	-o-border-radius: .3rem;
}
.btn-primary{
	background-color: var(--secondary-color);
	color: var(--light-color);
}

/* Game Play Section*/
.gameplay{
	height: 100%;
	display: none;
	animation: fade-in .5s ease;
	-webkit-animation: fade-in .5s ease;
	margin-bottom: 5rem;
}
.scoreboard{
	height: 10rem;
	margin-top: 4rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.scoreboard p{
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	min-width: 12rem;
}
.scoreboard p span{
	font-weight: 700;
	font-size: 2rem;
}
/* choice board */
.choiceboard{
	display: flex;
	max-width: 700px;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5rem auto;
	gap: 2rem;
	flex-wrap: wrap;
}
.playerchoice,
.computerchoice{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	height: 18.5rem;
	width: 18.5rem;
	background-color: var(--light-color);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.playerchoice p,
.computerchoice p{
	color: #1d3557;
	font-size: 4rem;
}
.score-info{
	min-width: 15rem;
	gap :5rem;
	font-weight: 700;
}
/* Options */
.options{
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 700px;
	margin: 0 auto;
}
.options button{
	margin: 5rem 0;
	font-size: 2rem;
	background-color: var(--dark-color);
	color: #fff;
	border: solid var(--light-color) .2rem;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}
.options button:hover,
.options button:active{
	background-color: var(--secondary-color);
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.options button:active{
	background-color: var(--primary-color);
}
/* Close button */
.x-btn{
	position: absolute;
	top: 2rem;
	right: 2rem;
	height: 2.5rem;
	width: 2.5rem;
	display: flex;
	border: none;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.x-btn,
.quit{
	background-color: var(--accent-color);
	color: var(--light-color);
}

/* Overlay */
.overlay, .result-background{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	animation: fade 1s;
	-webkit-animation: fade-in .5s ease-in-out;
}
/* Restart buttons */
.restart-buttons{
	margin-top: 5rem;
	display: none;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}